<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>With PK</title>
</head>
<body>
{% extends "nav.html" %}
{% block content %}
<div class="row example-pages">
    <div class="arr">
        <a href="#" target="_blank">
            <img src="static/assets/paper_img/pencils.jpg" alt="Rounded Image" class="img-rounded img-responsive">
            <h5>공모전1</h5>
        </a>
    </div>
    <div class="arr">
        <a href="#" target="_blank">
            <img src="static/assets/paper_img/shoes.jpg" alt="Rounded Image" class="img-rounded img-responsive">
            <h5>공모전2</h5>
        </a>
    </div>
    <div class="arr">
        <a href="#" target="_blank">
            <img src="static/assets/paper_img/types.jpg" alt="Rounded Image" class="img-rounded img-responsive">
            <h5>공모전3</h5>
        </a>
    </div>
</div>
{% endblock %}

</body>
</html>